{% extends 'front/authentication_base.html.twig' %}

{% block title %}Forgot Password | Pharmax{% endblock %}

{% block auth_inner_class %} py-4{% endblock %}

{% block auth_content %}
  {% for flash_error in app.flashes('reset_password_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
  {% endfor %}

  <h4 class="mb-2">Forgot Password? 🔒</h4>
  <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>

  {{ form_start(requestForm, {'attr': {'id': 'formAuthentication', 'class': 'mb-3', 'novalidate': 'novalidate'}}) }}
    <div class="mb-3">
      {{ form_label(requestForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your email', 'autofocus': true}}) }}
      {{ form_errors(requestForm.email) }}
    </div>
    <button type="submit" class="btn btn-primary d-grid w-100">Send Reset Link</button>
  {{ form_end(requestForm) }}

  <div class="text-center">
    <a href="{{ path('app_login') }}" class="d-flex align-items-center justify-content-center">
      <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
      Back to login
    </a>
  </div>
{% endblock %}
