{% extends 'base_simple.html.twig' %}

{% block title %}{{'Edit Article - Pharmax'|trans}}{% endblock %}

{% block page_header %}
<div>
    <h1 class="mb-2">{{'Edit Article'|trans}}</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">{{'Dashboard'|trans}}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_article_index') }}">{{'Articles'|trans}}</a></li>
            <li class="breadcrumb-item active">{{'Edit'|trans}}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-8">
        {{ include('article/_form.html.twig', {'button_label': ('Update Article'|trans)}) }}
    </div>
</div>
{% endblock %}
